header {
    background-color: rgb(29, 218, 155);
    font-size: 60px;
    text-align : center;
    color:azure;
    width:  40%;
    margin:auto;
    

}
  

nav {
    background-color: rgb(29, 218, 155);
    font-size: 60px;
    text-align : center;
    color:azure;
    width: 40%;
    margin:auto;
}

section{
    background-color: rgb(29, 218, 155);
    font-size: 60px;
    text-align : center;
    color:azure;
    width: 40%;
    margin:auto;
}
footer{
    background-color: rgb(29, 218, 155);
    font-size: 60px;
    text-align : center;
    color:azure;
    width: 40%;
    margin: auto;
}
